/* Importing the IM Fell French Canon Google Font */
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap");

body {
  font-family: "IM fell French Canon", sans-serif;
}

#showcase {
  /* background-color: #333; */
  background-image: url(./Images/header.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
